.book-name {
    font-size: 1rem;
    font-weight: 700;
}

.book-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    img {
        width: 100px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 2rem;
    }

    .book-list-detail {
        flex: 1 1 0;
    }

    .p-rating {
        margin: 0 0 .5rem 0;
    }

    .book-price {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
        align-self: flex-end;
    }

    .book-list-action {
        display: flex;
        flex-direction: column;
    }

    .p-button {
        margin-bottom: .5rem;
    }
}

::ng-deep {
    .p-dataview-emptymessage {
        display: none;
    }
    .p-dropdown {
        width: 25%;
    }
}
